footer {
    background-color: #09090ae0;
    color: white;
    padding: 20px;
    margin-top: auto;
    width: 100%;
    border-top-right-radius: 80px;
    border-top-left-radius: 80px;
}

.footer__copyright__title h3 {
    color: #2b2b3b;
    text-align: center;
    font-family: "Roboto", serif;
    font-size: 15px;
}

.footer__links {
    margin-bottom: 10px;
}

.socials__links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.socials__links li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    transition: color 0.3s ease;
}

.socials__links li a:hover {
    color: #E59EFB;
}

.footer__title {
    font-size: 14px;
    margin-top: 15px;
}

@media (max-width: 768px) {
    .socials__links {
        flex-direction: column;
        align-items: center;
    }
}