* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: #020012;
}

footer h3 {
  margin-top: 500px;
  font-size: 15px;
  z-index: -1;
  font-family: "Roboto", serif;
  color: #313046;
}

