.background {
    display: flex;
    flex-direction: column;
    height:auto;
    width: auto;
}

video {
    align-items: center;
    rotate: 180;
    position: absolute;
    top: -340px;
    right: -100px;
    z-index: -1;
    height: auto;
    width: 200vw;
    object-position: cover;
}